@import url("https://fonts.googleapis.com/css2?family=Dekko&display=swap");

@import "bootstrap";

$mynewcolor: #6c63ff;

.btn-primary,
.btn-secondary {
  @include button-variant(
    $mynewcolor,
    darken($mynewcolor, 7.5%),
    darken($mynewcolor, 10%),
    lighten($mynewcolor, 5%),
    lighten($mynewcolor, 10%),
    darken($mynewcolor, 30%)
  );
}

.btn-outline-primary,
.btn-outline-secondary {
  @include button-outline-variant(
    $mynewcolor,
    #6c63ff,
    lighten($mynewcolor, 5%),
    $mynewcolor
  );
}

h1 {
  font-family: "Dekko", cursive;
}

.card {
  border: 1px solid rgb(108, 99, 255);
  border-radius: 10px;
  padding: 0px;
}

.img-fluid {
  border: 5px solid #6c63ff;
  max-width: 100%;
  height: auto;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: rgba(108, 99, 255, 0.13);
  color: white;
}

.btn-link:active,
.btn-link:focus,
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:visited,
.btn-group-toggle > .focus,
.btn-group-toggle > .active {
  background-color: #6c63ff;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #6c63ff !important;
}

.nav-item > a > h6 {
  color: #000 !important;
}

.nav-item > a.active > h6 {
  color: #fff !important;
}
