@import url('https://fonts.googleapis.com/css2?family=Dekko&display=swap');

h1 {
    font-family: 'Dekko', cursive;
}

.accordion-nav{
    background-color: rgba(108, 99, 255, 0.13) !important;
    width: 100%;
    height: 100%;
    // line-height: 3em;
    // font-size: 2em !important;
    // color: #9d9cb5 !important;
    border-radius: 0;    
    font-size: 1.3em !important;
    color: #ffffff;
    font-weight: 800 !important;
    padding: 0px;
    border-width: 0px;
}
.accordion-nav:focus,
.accordion-nav:active{border: none !important;}
.card{
    border: 1px solid rgb(108,99,255) !important;
    border-radius: 10px !important;
    padding: 0px !important;
}
.card-header{
    padding: 0px !important;
    // border-bottom: 1px solid #6c63ff !important;
    background-color: #6c63ff !important;
}

.img-fluid{
    border: 5px solid #6c63ff;
    // border-radius: 50%;
    // width: 200px;
    // height: 200px;
    max-width: 100%;
    height: auto;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: rgba(108, 99, 255, 0.13) !important;
}

.btn-link:active,.btn-link:focus,.btn-secondary, .btn-secondary:hover, .btn-secondary:active, .btn-secondary:visited, .btn-group-toggle > .focus, .btn-group-toggle > .active {
    background-color: #6c63ff !important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #6c63ff !important;
}

.nav-item > a > h6 {
    color: #000 !important;
}

.nav-item > a.active > h6 {
    color: #fff !important;
}