@import url('https://fonts.googleapis.com/css2?family=Dekko&display=swap');

.jumbo{
    margin-top: 0px;
    padding-top: 0px;
    background-image: url("/welcome.svg");
    // background-image: url("https://www.esoleducation.com/uploaded/themes/default/images/dropdowns/Menu-Background-5.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.quote{
    // font-family: sans-serif;
    font-family: 'Dekko', cursive;
    font-size: 35px;
    width: 100%;
}
// .icon{
//     color: #6c63ff;
// }